.title { 
   color: green; 
   text-align: center; 
} 
 
 

.house { 
   border: 2px solid green; 
   border-radius: 10px;
   padding: 10px; 
   margin: 10px; 

} 

#hr {
   border-bottom: 4px solid red;
}
 

.pupuke { 
   background-color: blue; 
} 

.smale { 
   background-color: rgb(1, 180, 1); 
} 
 

.stanley { 
   background-color: red; 
} 
 

.ururoto { 
   background-color: black; 
   color: white; 
} 
 

.murchison { 
   background-color: white; 
} 
 

.hood { 
   background-color: rgb(139, 0, 76); 
   color: white; 
} 